@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");

:root {
  --color-body: #b6cbce;
  --color-heading: #0c0c0c;
  --color-brand2: #deff58;
  --sidebar-width: 450px;
  --font-base: "Bai Jamjuree";
}

body {
  background-image: url("https://images.pexels.com/photos/15067862/pexels-photo-15067862.jpeg?auto=compress&cs=tinysrgb&w=1200");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--font-base), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--color-body);
  transition: all 0.4s ease;
}

a:hover {
  color: var(--color-brand2);
}

#name {
  color: rgba(166, 133, 2, 0.558);
  margin-left: 10%;
  position: relative;
}

img {
  width: 100%;
  margin-top: 20%;
}

#thumbnail-image {
  width: 150px;
  z-index: 1;
}

span {
  font-size: 60px;
}

.full-height {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.11);
}

.navbar .nav-link {
  font-weight: 700;
  font-size: 150%;
  text-transform: uppercase;
  color: white;
  padding-top: 20px;
}

.navbar .nav-link:hover {
  color: rgba(255, 255, 255, 0.298);
}

.navbar .nav-link.active {
  color: var(--color-brand2);
}

.nav-item {
  text-align: right;
}

@media (min-width: 992px) {
  .navbar {
    min-height: 100vh;
    width: var(--sidebar-width);
    background: linear-gradient(
      rgba(255, 255, 255, 0.148),
      rgba(247, 245, 246, 0.11)
    );
    margin-left: auto;
  }

  #content-wrapper {
    padding-right: 30%;
    margin-top: -15%;
  }
}

@media (max-width: 991px) {
  .navbar .nav-link {
    font-size: 80%;
  }

  #content-wrapper {
    padding-top: 115px;
  }
}

#portfolio {
  padding-top: 20%;
}

.card-custom .card-custom-image {
  overflow: hidden;
}

.card-custom .card-custom-image img {
  transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
  transform: scale(1.1);
}

.link-custom {
  font-weight: 700;
  position: relative;
  color: white;
}

.link-custom::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--color-brand2);
  position: absolute;
  left: 0;
  top: 110%;
  transition: all 0.4s;
}

.link-custom:hover::after {
  width: 100%;
}

.card-custom .card-custom-image {
  overflow: hidden;
}

.card-custom .card-custom-image img {
  transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
  transform: scale(1.1);
}

#contact .form-control {
  background-color: rgb(255, 255, 255);
  border-color: black;
  color: black;
}

#contact .form-control:focus {
  border-color: black;
  box-shadow: none;
}

#contact .form-control::placeholder {
  color: black;
}

#contact input.form-control {
  height: 44px;
}

.btn {
  padding: 12px 28px;
  font-weight: 700;
  border-color: black;
  color: var(--color-base);
}

.btn:hover {
  color: var(--color-brand2);
  border-color: black;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 100px;
  font-size: 24px;
}
