@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");

:root {
  --color-body: #b6cbce;
  --color-heading: #0c0c0c;
  --color-brand2: #deff58;
  --sidebar-width: 450px;
  --font-base: "Bai Jamjuree";
}

body {
  background-image: url("https://images.pexels.com/photos/6159732/pexels-photo-6159732.jpeg?auto=compress&cs=tinysrgb&w=1200");
  background-attachment: fixed;
  background-size: 100%;
  font-family: var(--font-base), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--color-body);
  transition: all 0.4s ease;
}

a:hover {
  color: var(--color-brand2);
}

img {
  width: 60%;
  margin-top: 30%;
}

#thumbnail-image {
  width: 250px;
  z-index: 1;
}

.full-height {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.11);
}

.navbar .nav-link {
  font-weight: 700;
  font-size: 150%;
  text-transform: uppercase;
  color: white;
  padding-top: 20px;
}

.navbar .nav-link:hover {
  color: rgba(255, 255, 255, 0.298);
}

.navbar .nav-link.active {
  color: var(--color-brand2);
}

.nav-item {
  text-align: right;
}

@media (min-width: 992px) {
  .navbar {
    min-height: 100vh;
    width: var(--sidebar-width);
    background: linear-gradient(
      rgba(255, 255, 255, 0.148),
      rgba(247, 245, 246, 0.11)
    );
    margin-left: auto;
  }

  #content-wrapper {
    padding-right: 30%;
    margin-top: -15%;
  }

  #home-img {
    display: block;
  }
}

@media (max-width: 991px) {
  .navbar .nav-link {
    font-size: 60%;
  }

  #home-img {
    margin-top: -200px;
    width: 70%;
    text-align: left;
    padding-left: 5%;
  }

  #portfolio {
    padding-left: 15%;
  }
}

#portfolio {
  padding-top: 20%;
}

.card-custom-image {
  padding-left: 7%;
}
.card-custom .card-custom-image {
  overflow: hidden;
}

.card-custom .card-custom-image img {
  transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
  transform: scale(1.1);
}

.card-custom-content {
  width: 80%;
}

.link-custom {
  font-weight: 700;
  position: relative;
  color: white;
}

.link-custom::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--color-brand2);
  position: absolute;
  left: 0;
  top: 110%;
  transition: all 0.4s;
}

.link-custom:hover::after {
  width: 100%;
}

#contact .form-control {
  background-color: rgb(255, 255, 255);
  border-color: black;
  color: black;
}

#contact .form-control:focus {
  border-color: black;
  box-shadow: none;
}

#contact .form-control::placeholder {
  color: black;
}

#contact input.form-control {
  height: 44px;
}

.btn {
  padding: 12px 28px;
  font-weight: 700;
  border-color: black;
  color: var(--color-base);
}

.btn:hover {
  color: var(--color-brand2);
  border-color: black;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 100px;
  font-size: 24px;
}

#image-link {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  height: auto;
  position: absolute;
  left: 0;
}

.button-back {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  margin-top: 10%;
  margin-left: 10%;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-back:after {
  content: "";
  background-color: white;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-back:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-back {
    padding: 13px 50px 13px;
  }
}
