@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: rgb(254 252 251);
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidebar-width: 450px;
    --font-base: "Bai Jamjuree";
}

body {
    background-image: url("https://images.pexels.com/photos/15067862/pexels-photo-15067862.jpeg?auto=compress&cs=tinysrgb&w=1200");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: var(--font-base), sans-serif ;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}

span {
    font-size: 60px;
}


.navbar .nav-link {
    font-weight: 700;
    font-size: 150%;
    text-transform: uppercase;
    color: white
}

.navbar .nav-link:hover {
    color: var(--color-brand)
}

.nav-item{
    text-align: right;
    
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidebar-width);
        background: linear-gradient(rgba(247, 245, 246, 0.15), rgba(247, 245, 246, 0.255)), url(../images/sidebar-img.jpg); 
        margin-left: auto; 
        
        
    }
    
}